// Define variables for your color scheme

// Color Palette inspired by Chiara’s studio
$soft-green: #93bdcc;
$light-wood: #e8dcc9;
$lavender: #cdb4db;
$charcoal: #333;
$off-white: #fdfdfd;

$font-primary: 'Lato', sans-serif;
$font-accent: 'Playfair Display', serif;
