<footer class="footer mt-auto bottom-0">
  <div class="footer__container">
    <p class="footer__text">&copy; <%= Time.current.year %> Chiara Paperini – Pilates Reformer</p>
    <p class="footer__text">
      Site réalisé par <a href="https://www.albertnikolli.com/">Albert Nikolli, Arts and Software</a>
    </p>
  </div>
</footer>
