<section class="hero-true-layout">
  <div class="hero-gradient">
    <div class="hero-content">
      <%# <h1>Équilibre. Mouvement. Bien-être.</h1> %>
      <h1>Cours de pilates reformer</h1>
      <p>Chiara Paperini • Cours de Pilates Reformer</p>
      <div class="mt-5">
        <a href="#contact" class="hero__btn">Réserver un cours</a>
      </div>
    </div>
    <%# <div class="hero__overlay">
      <h1 class="hero__title">Équilibre. Mouvement. Bien-être.</h1>
      <p class="hero__subtitle">Pilates Reformer avec Chiara Paperini</p>
      <a href="#contact" class="hero__btn">Réserver un cours</a>
    </div> %>
  </div>
  <div class="hero-image"></div>
</section>
