<nav class="navbar navbar-expand-lg fixed-top py-2" data-controller="navbar reserve-btn" data-navbar-target="navbar">
  <div class="container">
    <a href="/">
      <%= image_tag 'logo.svg', width:"75px" %>
    </a>

    <a href="https://samadhi-lyon.fr/pilates#calendar" id="reserve_btn_desktop">Réserver un cours</a>
    <ul class="navbar-nav d-flex align-items-center flex-row">
      <a class="navbar-menu-item p-3 bg-transparent w-lg-auto fs-14 d-inline-flex flex-column align-items-center text-decoration-none shadow-none text-black border-0" href="/">
        <li class="dropdown position-inherit">
          Accueil
        </li>
      </a>

      <a class="navbar-menu-item p-3 bg-transparent w-lg-auto fs-14 d-inline-flex flex-column align-items-center text-decoration-none shadow-none text-black border-0" href="/pilates_reformer">
        <li class="dropdown position-inherit">
          CPilates Reformer
        </li>
      </a>

      <a class="navbar-menu-item p-3 bg-transparent w-lg-auto fs-14 d-inline-flex flex-column align-items-center text-decoration-none shadow-none text-black border-0" href="/notre_equipe">
        <li class="dropdown position-inherit">
          Notre Équipe
        </li>
      </a>
      <a class="navbar-menu-item p-3 bg-transparent w-lg-auto fs-14 d-inline-flex flex-column align-items-center text-decoration-none shadow-none text-black border-0" href="/nos_cours">
        <li class="dropdown position-inherit">
          Nos Cours
        </li>
      </a>
      <a class="navbar-menu-item p-3 bg-transparent w-lg-auto fs-14 d-inline-flex flex-column align-items-center text-decoration-none shadow-none text-black border-0" href="/nous_contacter">
        <li class="dropdown position-inherit">
          Nous Contacter
        </li>
      </a>
    </ul>

    <div class="burger" data-action="click->navbar#toggle" data-navbar-target="burger">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>

    <div class="slideshow" data-navbar-target="menu">
      <!-- nav links -->
        <a href="/" data-action="click->navbar#close">
          <%= image_tag 'logo-blue.png', width: "100px" %>
        </a>
        <a href="/">Accueil</a>
        <a href="/pilates_reformer" data-action="click->navbar#close">CPilates Reformer</a>
        <a href="/notre_equipe" data-action="click->navbar#close">Notre Équipe</a>
        <a href="/nos_cours" data-action="click->navbar#close">Nos Cours</a>
        <a href="/nous_contacter" data-action="click->navbar#close">Nous Contacter</a>
        <div class="rights">
          <div>
            <p>&copy; <%= Time.current.year %> Chiara Paperini – Pilates Reformer</p>
          </div>
        </div>
    </div>
  </div>
</nav>
