<section class="studio container">
  <h2 class="studio__title">Le Studio</h2>

  <div data-controller="swiper" class="swiper studio__carousel">
    <div class="swiper-wrapper">
      <div class="swiper-slide studio__slide">
        <%= image_tag "machines.jpeg", alt:"Studio 1" %>
      </div>
      <div class="swiper-slide studio__slide">
        <%= image_tag "machines2.jpeg", alt:"Studio 2" %>
      </div>
      <div class="swiper-slide studio__slide">
        <%= image_tag "machines-used.jpeg", alt:"Cours en session" %>
      </div>
    </div>

    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- Pagination dots -->
    <div class="swiper-pagination"></div>
  </div>
</section>
<script>

</script>
