<section class="classes container">
  <div class="classes__container">
    <h2 class="classes__title">Types de cours</h2>
    <div class="classes__grid">

      <a class="classes__card" style="text-decoration:none" href="https://samadhi-lyon.fr/pilates">
          <h3 class="classes__card-title">Cours Collectifs</h3>
          <p class="classes__card-text">
            En petit groupe (3 personnes max), pour un travail complet et dynamique tout en conservant une attention personnalisée.
          </p>
          <p class="classes__card-note">Inscriptions via la plateforme Samadhi.</p>
      </a>

      <a class="classes__card" style="text-decoration:none" href="https://samadhi-lyon.fr/pilates">
        <h3 class="classes__card-title">Cours en Duo</h3>
        <p class="classes__card-text">
          Idéal pour partager un moment de bien-être à deux. Un accompagnement harmonisé à vos objectifs.
        </p>
        <p class="classes__card-note">Réservation directement avec Chiara.</p>
      </a>

      <a class="classes__card" style="text-decoration:none" href="https://samadhi-lyon.fr/pilates">
        <h3 class="classes__card-title">Cours Individuels</h3>
        <p class="classes__card-text">
          100% personnalisés selon vos besoins spécifiques. Pour un suivi approfondi et sur mesure.
        </p>
        <p class="classes__card-note">Réservation directement avec Chiara.</p>
      </a>

    </div>
  </div>
  <div class="text-center mt-5">
    <a href="/nous_contacter" class="classes__btn">Nous Contacter</a>
  </div>
</section>
<%= render "shared/reviews" %>
