<section class="reformer">
  <div class="reformer__container">
    <h2 class="reformer__title text-center">Introduction aux avantages du Pilates Reformer</h2>

    <p class="reformer__lead text-center">
      Le <strong>Reformer est l’appareil emblématique de la méthode Pilates</strong>. Conçu par Joseph Pilates,
      il combine résistance, contrôle et fluidité pour sculpter le corps, renforcer en profondeur et améliorer durablement la posture.
    </p>

    <div class="row reformer__section">
      <div class="reformer__benefits">
        <h3>Qu’est-ce que le Reformer ?</h3>
        <p>
          Le <strong>Reformer</strong> est un appareil composé d’un chariot coulissant monté sur des ressorts, intégré dans un cadre. Équipé de sangles, d’une barre de pied et d’éléments ajustables, il s’adapte à chaque morphologie et à tous les niveaux.<br>
          Il permet une grande variété de mouvements pour engager tout le corps.
        </p>
      </div>

      <div class="reformer__benefits">
        <h3>Pourquoi adopter le Reformer ?</h3>
        <p>
          Le Reformer vous permet de gagner en longueur, stabilité et bien-être global.
          C’est un outil efficace pour transformer votre manière de bouger au quotidien.
        </p>
        <ul>
          <li>Renforcement musculaire sans prise de volume</li>
          <li>Amélioration de la posture, de la coordination et de l’équilibre</li>
          <li>Soulagement des douleurs, en particulier au niveau du dos</li>
        </ul>
      </div>

      <div class="reformer__benefits">
        <h3>Qui peut faire du Reformer ? ?</h3>
        <ul>
          <li>Débutants ou sportifs confirmés</li>
          <li>Femmes enceintes avec séances adaptées</li>
          <li>Personnes en rééducation</li>
          <li>Personnes cherchant à améliorer leur posture et leur bien-être</li>
          <li>Toute personne souhaitant une remise en forme progressive, adaptée à son rythme</li>
        </ul>
      </div>
    </div>


    <div class="reformer__image">
      <%= image_tag "machines.jpeg", width: "500px", alt: "Machines Pilates Reformer" %>
      <p class="reformer__caption text-muted">Nos machines Pilates Reformer, utilisées dans les cours chez Samadhi.</p>
    </div>
  </div>
</section>
