.classes {
  background-color: rgb(241, 241, 241);
  padding: 4rem 2rem;
  margin-top: 50px;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-family: $font-accent;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: $charcoal;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }

  &__card {
    background-color: rgb(241, 241, 241);
    flex: 1 1 300px;
    border-radius: 12px;
    box-shadow: 0 4px 16px #93bdcc;
    padding: 2rem;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__card-title {
    font-family: $font-accent;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: $charcoal;
  }

  &__card-text {
    font-family: $font-primary;
    font-size: 1rem;
    color: $charcoal;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  &__card-note {
    font-size: 0.9rem;
    font-style: italic;
    color: #93bdcc;

    a {
      color: #93bdcc;
      text-decoration: underline;
      font-weight: 500;
      transition: color 0.3s ease-in;
      transition: decoration 0.3s ease-in;

      &:hover {
        color: darken(#3670a9, 10%);
      }
    }
  }

  &__btn {
    padding: 0.8rem 1.55rem;
    // background-color: rgba(75, 54, 169, 0.9);
    background-color: #93bdcc;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s ease;
    font-size: 1.5rem;
    font-family: $font-accent;

    @media (max-width: 768px) {
      font-size: 1.5rem;
      padding: 0.75rem 1.5rem;
      margin-top: 1rem;
    }

    &:hover {
      // background-color: darken(#ffa60b, 10%);
      background-color: darken(#93bdcc, 10%);

      // font-variation-settings: "wght" 650 !important;
    }
  }
}
