.footer {
  // background-color: $charcoal;
  color: black;
  padding: 1rem 0.5rem;
  text-align: center;
  font-family: $font-primary;
  box-shadow: 0px 1px 5px 0px rgba(25, 29, 58, 0.2) !important;


  &__container {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__text {
    font-size: 0.95rem;
    margin: 0.4rem 0;

    a {
      color: #93bdcc;
      text-decoration: none;
      transition: color 0.3s ease-in;

      &:hover {
        color: darken(#93bdcc, 10%);
      }
    }
  }
}
