.hero {
  // background: url('machines-used.jpeg') center/cover no-repeat;
  background: url('https://manager.samadhi-lyon.fr/storage/01JAJ0NPFJZM7HE1JCVM3XM0NQ.png') center/cover no-repeat;
  height: 50dvh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    height: 100dvh;

  }

  &__overlay {
    background: rgba(255, 255, 255, 0.75);
    padding: 2rem;
    text-align: center;
    max-width: 90%;
    border-radius: 12px;
  }

  &__title {
    font-family: $font-accent;
    font-size: 2.5rem;
    color: $charcoal;
  }

  &__subtitle {
    font-family: $font-primary;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  &__btn {
    padding: 0.75rem 1.5rem;
    background-color: $soft-green;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s ease;

    &:hover {
      background-color: darken($soft-green, 10%);
    }
  }
}
