.hero {
  background: url('chiara.jpeg') center/cover no-repeat;
  height: 60dvh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;

  @media (max-width: 768px) {
    background: url('https://manager.samadhi-lyon.fr/storage/01JAJ0NPFJZM7HE1JCVM3XM0NQ.png') center/cover no-repeat;
    height: 100dvh;
  }

  &__overlay {
    background: rgba(25, 29, 58, 0.632);
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
    }
  }

  &__text{
    position: absolute;
    bottom: 10%;

    @media (max-width: 768px) {
      position: relative;
      bottom: 0;
    }
  }

  &__title {
    font-family: $font-accent;
    font-size: 3rem;
    color: white;
    // margin-top: 2rem;
  }

  &__subtitle {
    font-family: $font-accent;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: white;
  }

  &__btn {
    padding: 0.9rem 1.65rem;
    // background-color: rgba(75, 54, 169, 0.9);
    background-color: #93bdcc;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s ease;
    font-size: 1.8rem;
    font-family: $font-accent;

    @media (max-width: 768px) {
      font-size: 1.5rem;
      padding: 0.75rem 1.5rem;
      margin-top: 1rem;
    }

    &:hover {
      // background-color: darken(#ffa60b, 10%);
      background-color: darken(#93bdcc, 10%);

      // font-variation-settings: "wght" 650 !important;
    }
  }
}
