.hero-true-layout {
  position: relative;
  height: 300px;
  display: flex;
  // align-items: center;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 100dvh;
  }

  .hero-image {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-image: url('https://manager.samadhi-lyon.fr/storage/01JAJ0NPFJZM7HE1JCVM3XM0NQ.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 46%;
    z-index: -1;

    @media (max-width: 768px) {
      width: 80%;
      height: 100%;
      background-position: 50% 50%;
    }
  }


  .hero-gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(92, 111, 115, 1) 40%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: center;
    padding-left: 4rem;

    @media (max-width: 768px) {
      padding: 2rem;
      justify-content: center;
      text-align: center;
      background: linear-gradient(90deg, rgba(92, 111, 115, 1) 20%, rgba(0, 0, 0, 0) 100%);;
    }
  }

  .hero-content {
    color: white;
    max-width: 600px;

    // @media (max-width: 768px) {
    //   display: none;
    // }
    @media (max-width: 768px) {
      width: 100%;
      text-align: left;
    }

    h1 {
      font-size: 2.5rem;
      font-family: 'Playfair Display', serif;
      margin-bottom: 0.75rem;

      @media (max-width: 768px) {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
      }
    }

    p {
      font-size: 1rem;

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }

  .hero__btn {
    padding: 0.75rem 1.5rem;
    background-color: #a8b5a2;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s ease;

    &:hover {
      background-color: #8f9b8e;
    }
  }

  .hero__overlay {
    display: none;

    @media (max-width: 768px) {
      font-family: 'Playfair Display', serif;
      display: block;
      background: rgba(255, 255, 255, 0.75);
      padding: 2rem;
      text-align: center;
      max-width: 90%;
      border-radius: 12px;

      h1 {
        font-size: 2.5rem;
        font-family: 'Playfair Display', serif;
        margin-bottom: 0.75rem;
      }

      p {
        font-size: 1rem;

        a {
          text-decoration: underline;
        }
      }
    }
  }
}
