#map {
  height: 400px; /* The height is 400 pixels */
  width: 80%; /* The width is the width of the web page */
  padding-bottom: 100px;
  border-bottom: 2px solid #93bdcc;
  border-top: 2px solid #93bdcc;
  margin: auto;

  @media (max-width: 768px) {
    height: 300px; /* The height is 400 pixels */
    width: 80%; /* The width is the width of the web page */
    margin-top: 0px;
    border-bottom: 2px solid #93bdcc;
    border-top: 2px solid #93bdcc;
    margin: auto; // Adjust letter spacing for smartphones /* Adjust height as needed */
  }
  @media (max-width: 576px) {
    height: 200px; /* The height is 400 pixels */
    width: 80%; /* The width is the width of the web page */
    margin-top: 0px;
    border-bottom: 2px solid #93bdcc;
    border-top: 2px solid #93bdcc;
    margin: auto; // Adjust letter spacing for smartphones /* Adjust height as needed */
  }
}

.map-home {
  width: 500px !important;
  height: 300px !important;
  margin-top: 50px !important;
  border-bottom: none !important;

  @media (max-width: 768px) {
    width: 300px !important;
    font-size: 9px;
    letter-spacing: 4px; // Adjust letter spacing for smartphones /* Adjust height as needed */
  }
  @media (max-width: 576px) {
    width: 100% !important;
    font-size: 9px;
    letter-spacing: 4px; // Adjust letter spacing for smartphones /* Adjust height as needed */
  }
}
