#reserve_btn_desktop {
  padding: 0.5rem 1.25rem;
  background-color: #93bdcc;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
  font-size: 1.4rem;
  font-family: $font-accent;

  @media (max-width: 768px) {
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
  }

  &:hover {
    // background-color: darken(#ffa60b, 10%);
    background-color: darken(#93bdcc, 10%);

    // font-variation-settings: "wght" 650 !important;
  }
}

#reserve_btn_mobile {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 0.5rem 1.25rem;
  background-color: rgba(147, 189, 204, 0.7);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
  font-size: 1.4rem;
  font-family: $font-accent;
  z-index: 1000;

  @media (min-width: 769px) {
    display: none;
  }

  &:hover {
    // background-color: darken(#ffa60b, 10%);
    background-color: darken(#93bdcc, 10%);

    // font-variation-settings: "wght" 650 !important;
  }
}
