.review {
  text-align: center;
  margin-top: 50px;

  .review-card {
    width: 75%;
    height: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    // background: #fff;
    background: #f1f1f1;
    color: $charcoal;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 700px;
    z-index: 10;
    margin-top: 10px;

    @media (max-width:960px) {
      margin-top: 10px;
      height: auto;

    }

    svg {
      width: 40px;
      height: 40px;
      text-align: center;
    }
    .review-card h4 {
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    .review-card p {
      font-size: 1em;
      color: #666;
    }
  }

  .review__title {
    font-family: $font-accent;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $charcoal;
    text-align: center;
    font-weight: bold;
  }

  .swiper-container-review {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    position: relative;

  }

  .review_btn {
    padding: 0.8rem 1.55rem;
    background-color: #93bdcc;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s ease;
    font-size: 1.5rem;
    font-family: $font-accent;
    display: inline-block;
    margin: 20px auto;

    @media (max-width: 768px) {
      font-size: 1.5rem;
      padding: 0.75rem 1.5rem;
      margin-top: 1rem;
    }

    &:hover {
      background-color: darken(#93bdcc, 10%);
    }
  }
}
