.studio {
  padding: 4rem 2rem 0 2rem;
  text-align: center;

  &__container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
  }

  &__title {
    font-family: $font-accent;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: $charcoal;
  }

  &__subtitle {
    font-size: 1.2rem;
    color: darken($charcoal, 10%);
    margin-bottom: 2rem;
    font-family: $font-primary;
  }

  &__intro {
    font-family: $font-primary;
    font-size: 1.1rem;
    color: $charcoal;
    line-height: 1.7;

    p {
      margin-bottom: 1.5rem;
    }
  }

  &__section-title {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: $font-accent;
    margin: 2rem 0 1rem;
    color: $charcoal;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #4c36a9;
    width: 30px;
    height: 30px;

    &:after {
      font-size: 20px;

      @media (max-width: 768px) {
        font-size: 16px;
        width: 20px;
        height: 20px;
      }
    }
  }

  // Pagination dots
  .swiper-pagination-bullet-active {
    background-color: #4c36a9;
  }

  .studio__carousel {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
      height: 600px;
      object-fit: cover;
      border-radius: 12px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #4c36a9;
  }

  @media (max-width: 768px) {
    .swiper-slide img {
      height: 400px;
    }
  }
}
